@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Zen+Kaku+Gothic+New:wght@300;400;500;700;900&display=swap');
@import "tailwindcss";

/* 全体のスタイル */
@theme {
    --color-primary: #85BCC7;
    --font-zen: "Zen Kaku Gothic New", sans-serif;
    --font-geo: "Geologica", sans-serif;
}

.blogPostTitle {
    width: 60%;
    max-width: 1080px;
    min-width: 720px;
    margin: 0 auto 60px auto;
    padding-top: 40px;

    h1 {
        font-size: 32px;
        font-weight: 700;
    }
    p {
        margin-top: 16px;
    }
    .tags {
        margin-top: -8px;
    }
    .tag {
        margin-right: 12px;
        float: left;
        background-color: #e2e2e2;
        border-radius: 4px;
        padding: 0 8px;
        font-size: 14px;
    }
}

.blogPostBody {
    width: 60%;
    max-width: 1080px;
    min-width: 720px;
    margin: 0 auto 120px auto;

    * {
        margin-bottom: 12px;
        padding-bottom: 4px;
    }
    h2 {
        font-size: 24px;
        font-weight: 500;
        border-bottom: 2px solid #85BCC7;
        padding-top: 20px;
    }
    h3 {
        font-size: 20px;
        font-weight: 500;
        padding-top: 16px;
    }
    h3:before {
        content: "｜";
        color: #0586a0;
    }
    p, li {
        width: 98%;
        margin-right: 0;
        margin-left: auto;
        font-size: 16px;
    }
    li:before {
        content: "- "
    }
    ul {
        padding-top: 12px;
        background-color: #f1f1f1;
        border-radius: 8px;
        width: 95%;
        margin: 0 auto 8px auto;
    }
    a {
        color: #0586a0;
        font-weight: 500;
        text-decoration: underline;
    }    
    img {
        width: 100%;
        margin: 0 auto;
        padding: 12px;
        border: 2px solid #e2e2e2;
    }

    iframe {
        width: 80%;
        aspect-ratio: 16 / 9;
        margin: 0 auto 20px auto;
    }
    .twitter-tweet {
        max-width: 100%;
        margin: 0 auto;
    }
    pre {
        width: 95%;
        margin: 0 auto;
        border-radius: 8px;
        padding: 4px;
        background-color: #e2e2e2;
        font-size: 14px;
    }
    .twitter-tweet{
        margin: 8px auto;
        padding: 8px;
    }
}

@media screen and (max-width: 480px) {
    .blogPostTitle,
    .blogPostBody {
        width: 95%;
        min-width: auto;
        margin: 0 auto 60px auto;
        padding-top: 20px;
    }

    .blogPostTitle h1 {
        font-size: 18px;
    }

    .blogPostBody h2 {
        font-size: 16px;
    }

    .blogPostBody h3 {
        font-size: 14px;
    }

    .blogPostTitle p,
    .blogPostBody p,
    .blogPostBody li {
        font-size: 14px;
    }

    .blogPostBody img {
        width: 100%;
        margin: 0 auto;
        padding: 4px;
        border: 1px solid #e2e2e2;
    }

    .blogPostBody ul {
        padding-top: 12px;
        padding-right: 2px;
        background-color: #f1f1f1;
        border-radius: 4px;
    }
}