@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Zen+Kaku+Gothic+New:wght@300;400;500;700;900&display=swap');
@import "tailwindcss";

/* 全体のスタイル */
@theme {
    --color-primary: #7EB2BB;
    --font-zen: "Zen Kaku Gothic New", sans-serif;
    --font-geo: "Geologica", sans-serif;
}