.post-head {
    width: 100%;
    padding-bottom: 40px;
    margin-bottom: -60px;
    border-bottom: 2px solid #419FAF;
}

.content::after {
    content: "";
    display: block;
    clear: both;
}

.title {
    display: block;
    font-size: 24px;
    font-weight: bold;
}
.author-date {
    padding-top: 16px;
    font-size: 16px;
}
.tag {
    float: left;
    padding-right: 10px;
    font-size: 16px;
}

.markdown-body {
    width: 100%;
    align-items: center;
    margin: 60px auto;
    flex: 1;
    line-height: 2;
}

.markdown-body h1{
    font-size: 1.25em;
    padding: 1.5em 0 0.5em 0;
}

.markdown-body h2{
    padding-top: 0.25em;
    font-size: 1em;
    padding: 1.25em 0 0.5em 0;
}

.markdown-body p {
    font-size: 0.875em;
    padding: 0.5em 0;
}

.markdown-body a{
    text-align: center;
    text-decoration: underline;
    margin: 0 auto;
}

.markdown-body li {
    list-style: square;
    font-size: 0.875em;
    margin-left: 1.5em;
    padding: 0.5em 0;
}

.markdown-body img {
    width: 100%;
    padding: 0.5em 0;
    text-align: center;
}

.markdown-body iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
    text-align: center;
}

.twitter-tweet {
    max-width: 100%;
    text-align: center;
}

@media(max-width: 768px) {
    .post-head {
        width: 100%;
        padding-bottom: 25px;
        margin-bottom: -60px;
        border-bottom: 2px solid #419FAF;
    }
    .title {
        font-size: 16px;
    }
    .author-date {
        padding-top: 12px;
        font-size: 12px;
    }
    .tag {
        float: left;
        padding-right: 10px;
        font-size: 12px;
    }
}