---
const { title, description, startDate, endDate } = Astro.props;
const showEndDate = endDate && endDate !== 0;
---

<article class="flex flex-col sm:flex-row w-full items-start sm:items-center justify-between border-b border-neutral-200 py-6 hover:bg-gray-100">
    <div class="mx-4">
        <h3 class="text-base font-normal">{title}</h3>
        <p class="mt-1 text-sm text-neutral-500">{description}</p>
    </div>

    <div class="flex sm:flex-shrink-0 items-start sm:items-center py-4 whitespace-nowrap text-sm text-neutral-500 mt-4 sm:mt-0 mx-4 sm:mx-0">
        <p class="pr-4">{startDate}</p>
        <div class="w-[6.5em]">
        {showEndDate && (
            <div class="flex items-end">
            <span class="pr-4">-</span>
            <p>{endDate}</p>
            </div>
        )}
        </div>
    </div>
</article>
