---

---
<div class="h-30 bg-gray-300 font-geo font-thin">
    <div class="float-left mx-8 my-12">
        <p>&copy; 2025 Tsusu All rights reserved.</p>
    </div>
    <div class="float-right mx-8 my-12">
        <p class="float-left mr-10">Contact</p>
        <ul class="float-left">
            <li class="float-left px-2"><a href="https://github.com/tsusu0409" target="_blank" class="underline">GitHub</a></li>
            <li class="float-left px-2"><a href="https://x.com/tsusu0409" target="_blank" class="underline">X</a></li>
            <li class="float-left px-2"><a href="mailto:tsusu0409@gmail.com" target="_blank" class="underline">E-Mail</a></li>
        </ul>
    </div>
</div>
