---

---
<div class="h-30 bg-gray-300">
    <div class="float-left">
        <p>&copy; 2025 Tsusu All rights reserved.</p>
    </div>
    <div class="float-right">
        <p>Contact</p>
        <ul>
            <li><a href="https://github.com/tsusu0409" target="_blank">GitHub</a></li>
            <li><a href="https://x.com/tsusu0409" target="_blank">X</a></li>
            <li><a>E-Mail</a></li>
        </ul>
    </div>
</div>
