---

---
<div class="bg-gray-300 font-geo font-thin py-6 px-8">
    <div class="flex flex-col md:flex-row justify-between items-center gap-4">
        <p class="text-center md:text-left">&copy; 2025 Tsusu All rights reserved.</p>

        <div class="flex flex-col md:flex-row items-center gap-2 md:gap-4">
            <p class="font-extralight">Contact</p>
            <ul class="flex gap-4">
                <li><a href="https://github.com/tsusu0409" target="_blank" class="underline">GitHub</a></li>
                <li><a href="https://x.com/tsusu0409" target="_blank" class="underline">X</a></li>
                <li><a href="mailto:tsusu0409@gmail.com" target="_blank" class="underline">E-Mail</a></li>
            </ul>
        </div>
    </div>
</div>

