.header-profs {
    height: 80px;
    float: left;
    font-size: 16px;
}

.prof-icon {
    height: 100%;
    float: left;
}

.prof-icon img{
    height: 100%;
    border-radius: 16%;
}

.prof-name {
    height: 75%;
    float: left;
    padding-left: 1.25em;
    padding-top: 0.25em;
}

.handle {
    font-size: 1.5em;
}

.real {
    font-size: 16px;
}

.header-links {
    height: 20px;
    width: 140px;
    float: right;
    padding-top: 20px;
}

.icon {
    width: 1.5em;
    height: 1.5em;
    float: left;
    margin-left: 0.625em;
    color: black;
}

@media (max-width: 768px){
    .header-profs {
        height: 60px;
        font-size: 14px;
    }
    .header-links {
        height: 20px;
        width: 140px;
        float: right;
        padding-top: 20px;
    }
}

@media (max-width: 480px){
    .header-profs {
        height: 40px;
        font-size: 10px;
    }
    .header-links {
        height: 12px;
        width: 100px;
        float: right;
        padding-top: 12px;
    }
}