---

---
<div class="h-12 bg-gray-300 font-geo font-thin flex justify-between items-center px-4 sm:px-8">
    <div>
        <p class="text-base"><a href="/">Tsusu</a></p>
    </div>

    <!-- PC -->
    <div class="hidden sm:flex space-x-4">
        <a href="/about/" class="px-2">About</a>
        <a href="/blog/" class="px-2">Blogs</a>
        <a href="/activity/" class="px-2">Activities</a>
    </div>

    <!-- スマホ -->
    <div class="sm:hidden">
        <button id="menu-btn" class="focus:outline-none py-2">
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M4 6h16M4 12h16M4 18h16" />
            </svg>
        </button>
    </div>
</div>

<div id="mobile-menu" class="hidden sm:hidden bg-gray-200 px-8 pb-4 font-geo font-thin">
    <a href="/about/" class="block py-2">About</a>
    <a href="/blog/" class="block py-2">Blogs</a>
    <a href="/activity/" class="block py-2">Activities</a>
</div>

<script>
    const btn = document.getElementById('menu-btn');
    const menu = document.getElementById('mobile-menu');

    btn.addEventListener('click', () => {
        menu.classList.toggle('hidden');
    });
</script>