---

---
<div class="h-18 bg-gray-300">
    <div class="float-left mx-8 my-6">
        <p class="text-base"><a href="/">Tsusu</a></p>
    </div>
    <div class="float-right">
        <ul class="float-right">
            <li><a href="/about/">About</a></li>
            <li><a href="/work/">Works</a></li>
            <li><a href="/blog/">Blogs</a></li>
        </ul>
    </div>
</div>