.header-profs {
    height: 80px;
    float: left;
    font-size: 16px;
}

.prof-icon {
    height: 100%;
    float: left;
}

.prof-icon img{
    height: 100%;
    border-radius: 16%;
}

.prof-name {
    height: 75%;
    float: left;
    padding-left: 1.25em;
    padding-top: 0.25em;
}

.handle {
    font-size: 1.5em;
}

.real {
    font-size: 1em;
}

.header-links {
    height: 20px;
    width: 140px;
    float: right;
    padding-top: 20px;
}

.icon {
    width: 24px;
    height: 24px;
    float: left;
    margin-left: 0.625em;
    color: black;
}

@media (max-width: 768px){
    .header-profs {
        height: 60px;
        font-size: 14px;
    }
    .header-links {
        height: 20px;
        width: 140px;
        float: right;
        padding-top: 20px;
    }
}

@media (max-width: 480px){
    .header-profs {
        height: 40px;
        font-size: 10px;
    }
    .header-links {
        height: 8px;
        width: 73px;
        float: right;
        padding-top: 8px;
    }
    .icon {
        width: 14px;
        height: 14px;
        float: left;
        margin-left: 4px;
        margin-top: 8px;
        color: black;
    }
}